.DS_Store
*.py?
*.sw?

/.coverage
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/buildout.cfg
/tags
/nixenv

/bin/
/develop-eggs/
/dist/
/eggs/
/buildout-cache/
/lib/
/include/
/parts/
/var
/plone.app.toolbar.egg-info/
/plone/app/toolbar/resources/coverage/
/plone/app/toolbar/resources/report/
/src/
/build/
