.DS_Store
*.py?
*.sw?

/.coverage
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/tags

/bin/
/develop-eggs/
/eggs/
/lib/
/include/
/parts/
/var
/plone.app.toolbar.egg-info/
/src/
/build/
