/* toolbar styles loaded in the main page */
#visual-portal-wrapper {
    position: relative;
    top: 46px;
}

iframe#plone-toolbar {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    height: 45px;
    width: 100%;
    z-index: 500;

    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
}

div#edit-bar,
dl.portalMessage {
    display: none;
}

