
/* 
 * taken from >> members.css << and changed a bit
 */

.state-private,
.state-visible,
.state-published,
.state-pending,
.state-expired {
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    margin: 0.3em;
    padding: 0.1em 0.4em;
    color: #FFFFFF;
}

.state-private {
    background-color: Red !important;
}
.state-visible {
    background-color: #74AE0B !important;
}
.state-published {
    background-color: #436976 !important;
}
.state-pending {
    background-color: #FFA500 !important;
}
.state-expired {
    background-color: Red !important;
}


/* 
 * below part was added by davisagli
 */
.toolbar-button.activated a.label-contenttype-image,
.toolbar-button.activated a.label-contenttype-file,
.toolbar-button.activated a.label-contenttype-document,
.toolbar-button.activated a.label-contenttype-event,
.toolbar-button.activated a.label-contenttype-folder,
.toolbar-button.activated a.label-contenttype-link,
.toolbar-button.activated a.label-contenttype-news-item,
.toolbar-button.activated a.label-contenttype-plone-site,
.toolbar-button.activated a.label-contenttype-collection,
.toolbar-button.activated a.label-contenttype-topic {
    padding-left: 20px;
    margin-left: 9px;
}
.toolbar-button.activated a.label-contenttype-image {
    background: no-repeat transparent 0px -858px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}

.toolbar-button a.personalactions-user img {
    height: 21px;
    margin: 0 0.5em;
}

