* {
    font-family: Arial;
}
html {
    overflow-y: visible !important;
}
body {
    margin: 0;
    background: transparent !important;
    overflow: hidden;
}
.toolbartop {
    height: 6px;
    background-color: #3d8cd5;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

.toolbarglobal {
    background-image: linear-gradient(top, #3e3f42, #2e2f32);
    background-image: -moz-linear-gradient(top, #3e3f42, #2e2f32);
    background-image: -webkit-linear-gradient(top, #3e3f42, #2e2f32);
    border-bottom: solid 1px #000;
}

.toolbarlocal {
    background-color: #f2f2f2;
    border-bottom: solid 1px #e5e5e5;
}

.toolbarleft {
    padding-bottom: 4px;
}
.toolbarright {
    border-bottom-left-radius: 34px 34px;
    -moz-border-bottom-left-radius: 34px 34px;
    -webkit-border-bottom-left-radius: 34px 34px;
    background-image: linear-gradient(top, #3d8cd5, #347ebf);
    background-image: -moz-linear-gradient(top, #3d8cd5, #347ebf);
    background-image: -webkit-linear-gradient(top, #3d8cd5, #347ebf);
    float: right;
    height: 34px;
}
.toolbarglobal .toolbarright {
    box-shadow: inset 0 -1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 -1px rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 0 -1px rgba(255,255,255,0.3);
}
.swirl {
    width: 32px;
    height: 16px;
    display: block;
    float: left;
    top: 0px;
    left: 0px;
    margin-left: -24px;
    background-image: linear-gradient(top, #3d8cd5, #3a86cb);
    background-image: -moz-linear-gradient(top, #3d8cd5, #3a86cb);
    background-image: -webkit-linear-gradient(top, #3d8cd5, #3a86cb);
    overflow: hidden;
}
.swirl div {
    border-top-right-radius: 34px 34px;
    -moz-border-top-right-radius: 34px 34px;
    -webkit-border-top-right-radius: 34px 34px;
    width: 32px;
    height: 32px;
}
.toolbarglobal .swirl div {
    background-image: linear-gradient(top, #3e3f42, #2e2f32);
    background-image: -moz-linear-gradient(top, #3e3f42, #2e2f32);
    background-image: -webkit-linear-gradient(top, #3e3f42, #2e2f32);
}
.toolbarlocal .swirl div {
    background-color: #f2f2f2;
}

.personalbar {
    min-width:150px;
    margin:0 5px 0 25px;
}

.personalbar img {
    float:left;
}

.personalbar a:hover {
    text-decoration:none;
}

.cog:hover {
    cursor: pointer;
    background: blue;
}
.messages {
    background-color: #cc3c2f;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 11px;
    color: white;
}

.portaltabs {
    margin: 0;
    padding: 0 0 0 6px;
}
.portaltabs fieldset {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
}
.portaltabs a,
.portaltabs button {
    display: inline-block;
    font: 13px Arial;
    padding: 3px 16px;
    margin: 4px 4px 0 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
}
.toolbarglobal .portaltabs button a {
    text-decoration: none;
    color: #fff;
}
.toolbarglobal .portaltabs a.menu:hover,
.toolbarglobal .portaltabs button.menu:hover {
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}
.toolbarglobal .portaltabs a.menu:hover a,
.toolbarglobal .portaltabs button.menu:hover a {
    color: #000;
}

.personalbar dt.actionMenuHeader a,
.toolbarglobal .portaltabs a,
.toolbarglobal .portaltabs button {
    -moz-transition: all 0.1s linear 0s;
    background-repeat: no-repeat;
    background-color: #222;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#404040), color-stop(25%, #404040), to(#222));
    background-image: linear-gradient(center top , #404040, #404040 25%, #222);
    background-image: -moz-linear-gradient(center top , #404040, #404040 25%, #222);
    background-image: -webkit-linear-gradient(center top , #404040, #404040 25%, #222);
    border-color: #222;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset;
}

.toolbarglobal .portaltabs a

.personalbar dt.actionMenuHeader a {
    background-color: #fff !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(25%, #fff), to(#E6E6E6));
    background-image: linear-gradient(center top , #fff, #fff 25%, #E6E6E6);
    background-image: -moz-linear-gradient(center top , #fff, #fff 25%, #E6E6E6);
    background-image: -webkit-linear-gradient(center top , #fff, #fff 25%, #E6E6E6);
    border-color: #ccc;
    color: #333333;
}

.toolbarglobal .portaltabs a:hover,
.toolbarglobal .portaltabs button:hover,
.toolbarglobal .portaltabs label:hover {
    text-decoration: none;
}
.toolbarlocal .portaltabs a,
.toolbarlocal .portaltabs button,
.toolbarlocal .portaltabs label {
    -moz-transition: all 0.1s linear 0s;
    background-repeat: no-repeat;
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), color-stop(25%, #FFFFFF), to(#E6E6E6));
    background-image: linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    position: relative;
}
.toolbarlocal .portaltabs a:hover,
.toolbarlocal .portaltabs button:hover,
.toolbarlocal .portaltabs label:hover {
    background-position: 0 -15px;
}
.toolbarlocal .portaltabs a.active,
.toolbarlocal .portaltabs button.active,
.toolbarlocal .portaltabs label.active {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E6E6E6), color-stop(25%, #E6E6E6), to(#FFFFFF));
    background-image: linear-gradient(center top , #E6E6E6, #E6E6E6 25%, #FFFFFF);
    background-image: -moz-linear-gradient(center top , #E6E6E6, #E6E6E6 25%, #FFFFFF);
    background-image: -webkit-linear-gradient(center top , #E6E6E6, #E6E6E6 25%, #FFFFFF);
}
.toolbarlocal .portaltabs a.active:hover,
.toolbarlocal .portaltabs button.active:hover,
.toolbarlocal .portaltabs label.active:hover {
    background-position: 0 0;
}
.toolbarglobal button .panel {
    display: none;
}
.toolbarglobal button.menu:hover .panel {
    display: block;
    position: absolute;
    color: #000;
    background: #fff;
    padding: 16px;
    margin: 5px 0 0 -18px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
.rightactions {
    float: right;
    padding: 0 30px 0 0;
}

.rightactions select {
    margin-top:4px;
}

label select {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 5px 14px 6px;
}

/* BBB */

#contentActionMenus {
    float: right;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    background: none;
}

.toolbarglobal ul,
.toolbarlocal ul {
    list-style: none;
    margin: 0;
}

.toolbarglobal li,
.toolbarlocal li {
    display: inline;
}

dl.actionMenu {
    margin-left: 2px;
    line-height: 2em;
    float: right;
    position: relative;
    white-space: nowrap;
}

dl.actionMenu a, dl.actionMenu div {
    display: block !important;
    white-space: nowrap;
}

dl.actionMenu dt {
    font-weight: normal;
    margin: 0 0.25em;
}

dl.actionMenu a {
    background-color: #222222;
}

dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a,
dl.actionMenu.activated dd div {
    margin: 4px 4px 0 0;
}

.personalbar dl.actionMenu.activated dt a {
    margin:0;
}

dl.actionMenu.activated dd {
    background: transparent;
    border: 0;
    right: -3px;
}

dl.actionMenu dd.actionMenuContent a,
dl.actionMenu.activated dt a {
    background-color: #FFFFFF;
    background-image: none;
    border-color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    color: #000000;
    border: 0;
}

dl.actionMenu.deactivated dd.actionMenuContent {
    display: none;
}

dl.actionMenu.activated dd.actionMenuContent {
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
    color: #000000;
    display: block;
    margin: 5px 0 0 -18px;
    padding: 8px;
}

dl.actionMenu.activated dd.actionMenuContent {
    margin: 0 7px 0 -18px;
    border-radius: 4px 0 4px 4px;
    z-index: 10000;
}

dl.actionMenu.activated dd {
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: auto;
    min-width: 100%;
}

.personalbar dt.actionMenu {
    display:inline-block;
}

.personalbar dd.actionMenuContent a {
    margin:4px 4px 0 0;
    padding:5px 14px 6px;
}

.personalbar dl.actionMenu.activated dd {
    right: -7px;
}

dd.actionMenuContent a:hover {
    background-color: #E6E6E6 !important;
    border-radius: 0 0 0 0 !important;
    -moz-border-radius: 0 0 0 0 !important;
    -webkit-border-radius: 0 0 0 0 !important;
}

dd.actionMenuContent a img {
    margin: 0 4px 0 -14px;
}

/* @group Core content type sprites */

/* Generated using http://spritegen.website-performance.org, with the following
   parameters:
   - Build direction: Vertical
   - Horizontal offset: (doesn't matter, but can't be 0)
   - Vertical offset: 200px
   - Compress image with OptiPNG: yes
   - Class prefix: contenttype-
   - Display width and height: no
  Then, add 4 px to the background-position to line up the icons to text.

.contenttype-document_icon { background-position: 0 0;  }
.contenttype-event_icon { background-position: 0 -216px;  }
.contenttype-file_icon { background-position: 0 -432px;  }
.contenttype-folder_icon { background-position: 0 -648px;  }
.contenttype-image_icon { background-position: 0 -864px;  }
.contenttype-link_icon { background-position: 0 -1080px;  }
.contenttype-newsitem_icon { background-position: 0 -1296px;  }
.contenttype-site_icon { background-position: 0 -1512px;  }
.contenttype-topic_icon { background-position: 0 -1728px;  }

*/

dl.actionMenu dd.actionMenuContent .contenttype-document {
    background: no-repeat transparent 0px 5px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}
dl.actionMenu dd.actionMenuContent .contenttype-event {
    background: no-repeat transparent 0px -211px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}
dl.actionMenu dd.actionMenuContent .contenttype-folder {
    background: no-repeat transparent 0px -643px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}
dl.actionMenu dd.actionMenuContent .contenttype-link {
    background: no-repeat transparent 0px -1075px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}
dl.actionMenu dd.actionMenuContent .contenttype-news-item {
    background: no-repeat transparent 0px -1291px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}
dl.actionMenu dd.actionMenuContent .contenttype-plone-site {
    background: no-repeat transparent 0px -1503px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}
dl.actionMenu dd.actionMenuContent .contenttype-collection {
    background: no-repeat transparent 0px -1721px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}
dl.actionMenu dd.actionMenuContent .contenttype-topic {
    background: no-repeat transparent 0px -1721px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}

/* These should only appear in the add menu */
#plone-contentmenu-factories .contenttype-file {
    background: no-repeat transparent 0px -423px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}
#plone-contentmenu-factories .contenttype-image {
    background: no-repeat transparent 0px -855px url(++resource++plone.app.toolbar/images/contenttypes-sprite.png);
}

.contenttype-document,
.contenttype-event,
.contenttype-folder,
.contenttype-link,
.contenttype-news-item,
.contenttype-plone-site,
.contenttype-collection,
.contenttype-topic,
#plone-contentmenu-factories .contenttype-file,
#plone-contentmenu-factories .contenttype-image {
    line-height: 2em;
    display: inline-block;
    *display: block;
    padding-left: 20px !important;
}

/* @end */