@import "../lib/lesselements/elements.less";
@import "../lib/bootstrap/less/bootstrap.less";
@import "../lib/bootstrap/less/responsive.less";

@import "utils.less";

body {
  padding: 0;
}

#plone-toolbar {
  height: 50px;
  .toolbar { .makeToolbar(44px); }
  .toolbar-deco { .makeToolbar(44px, 4px, 1px, #f2f2f2, #e5e5e5); }
}






.hiddenStructure {
  display: none !important;
}

// MODAL {{{
.modal-backdrop { overflow: hidden; }
.modal-wrapper { left: 15%; margin-left: 0; width: 100%; }
.modal {

  &.fade.in {
    margin: 0;
    width: 70%;
    top: 100px;
    left: 15%;
  }

  form { margin: 0; }

  input.destructive[type='submit'] {
    .btn();
    .btn-primary();
    .btn-danger();
  }
  input.context[type='submit'] {
    .btn();
    .btn-primary();
  }
  input.standalone[type='submit'] {
    .btn();
  }
  .plone_jscalendar {
    .plone-jscalendar-popup {
      position: relative;
    }
    select {
      width: auto;
    }
  }
  dl.portalMessage {
    .alert();
    .alert-block();
    &.info { .alert-info(); }
    &.error {
      .alert-error();
      dd { background: transparent; }
    }
    dt {
      .border-radius(0);
      float: none;
      font-size: 1.2em;
      line-height: 1.25em;
      background: transparent;
      color: inherit;
      padding: 0 !important;
      margin: 0 !important;
    }
    dd {
      margin: 0;
      padding: 0;
    }
  }
  div.field {
    &.error {
      .control-group.error();
      .fieldRequired { color: transparent; }
      label { color: @grayDarker; }
      div {
        color: #B94A48;
        &.formHelp { color: @grayDarker; }
      }
      color: #B94A48;
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
    }
    .control-group();
    label {
      font-size: 1.2em;
      font-weight: bold;
      display: inline-block;
    }
    .fieldRequired { color: transparent; }
    div {
      .help-block();
      line-height: 2em;
      padding: 0;
      &.formHelp { line-height: 1em; }
    }
    textarea {
      width: 98%;
    }
    input#title {
      font-size: 2em;
    }
    input[type="text"] {
      margin-bottom: 1em;
      margin-top: 0.2em;
      height: 1.2em;
      width: 98%;
    }
    margin-bottom: 1em;
  }
  div.modal-footer > input {
    margin-left: 1em;
  }
}
// }}}
