* {
    font-family: Arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    overflow-y: visible;
}
body {
    margin: 0 !important;
    background-color: transparent !important;
    overflow: hidden !important;
}


.toolbar-wrapper {
    position: relative;
    width: 100%;
    height: 46px;
    background: #333;
}

.toolbar {
    width: 960px;
    margin: 0 auto;

    box-shadow: 0 1px 3px #444444;
    -moz-box-shadow: 0 1px 3px #444444;
    -webkit-box-shadow: 0 1px 3px #444444;
    -o-box-shadow: 0 1px 3px #444444;
}

.toolbar-group {
    list-style: none;
}

.toolbar-button {
    display: inline-block;
    float: left;
}

.toolbar-button a {
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;

    padding: 0.5em;
    margin: 0 0.5em;
    line-height: 3.5em;

    text-shadow: 1px 1px 2px black;
    -moz-text-shadow: 1px 1px 2px black;
    -webkit-text-shadow: 1px 1px 2px black;
    -o-text-shadow: 1px 1px 2px black;

    border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    -o-border-radius: 0.1em;
}

.toolbar-button.activated a,
.toolbar-button a:hover {
    color: #444;
    background: #FFFFFF;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
}

.toolbar-groups {
    background: #FFF;
    position: relative;
    top: -9px;
    right: 6px;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    padding: 1em 0.5em;
}

.toolbar-groups .toolbar-button {
    display: block;
    float: none;
}

.toolbar-groups .toolbar-button a {
    display: block;
    color: #333;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    line-height: 1.5em;
    padding: 0.2em 0.5em;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}

.toolbar-groups .toolbar-button a:hover {
    background-color: #AAAAAA;
}

.toolbar-left {
    float: left;
}

.toolbar-right {
    float: right;
}
