* {
    font-family: Arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    overflow-y: visible;
}
body {
    margin: 0 !important;
    background-color: transparent !important;
    overflow: hidden !important;
}


#toolbar-wrapper {
    position: relative;
    width: 100%;
    height: 46px;
    background: #333;
}

#toolbar {
    margin: 0 1em;
    box-shadow: 0 1px 3px #444444;
    -moz-box-shadow: 0 1px 3px #444444;
    -webkit-box-shadow: 0 1px 3px #444444;
    -o-box-shadow: 0 1px 3px #444444;
}

.contentActions li,
#portal-personaltools-wrapper li {
    list-style: none;
    margin: 0;
}

#content-views li,
.contentActions > ul > li,
#portal-personaltools-wrapper {
    display: inline-block;
    float: left;
    margin: 0.6em 0.3em;
    position: relative;
}

#toolbar li a,
#toolbar dt a {
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
    line-height: 18px;

    padding: 0.5em 1em;
    margin: 0;
    display: block;

    text-shadow: 1px 1px 2px black;
    -moz-text-shadow: 1px 1px 2px black;
    -webkit-text-shadow: 1px 1px 2px black;
    -o-text-shadow: 1px 1px 2px black;

    border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    -o-border-radius: 0.1em;
}

#toolbar .activated li a,
#toolbar .activated dt a,
#toolbar dt a:hover,
#toolbar li a:hover {
    color: #444;
    background: #FFFFFF;
    text-shadow: none;
    text-decoration: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
}

#toolbar dd {
    background: #FFF;
    min-width: 150px;
    padding: 1em 0.5em;
    position: absolute;
    top: 30px;
    right: 0;
    border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    -o-border-radius: 0.1em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}
#toolbar dl.actionMenu.deactivated dd {
    display: none;
}

#toolbar dd li {
    display: block;
    float: left;
    clear: left;
    width: 100%;
    margin: 0;
}

#toolbar dd li a {
    display: block;
    color: #333;
    text-shadow: none;
    float: left;
    width: 80%;
    margin: 0.3em;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    line-height: 1.5em;
    padding: 0.2em 0.5em;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}

#toolbar dd li a:hover {
    background-color: #AAAAAA;
}

#content-views {
    float: left;
}
.contentActions,
#portal-personaltools-wrapper {
    float: right;
}

#portal-personaltools {
    padding-left: 30px !important;
    position: relative;
}
#portal-personaltools img {
    height: 25px;
    vertical-align: middle;   
    position: absolute;
    left: 5px;
    top: 2px;
}

/* 
 * taken from >> members.css << and changed a bit
 */

.state-private,
.state-visible,
.state-published,
.state-pending,
.state-expired {
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    margin: 0.3em;
    padding: 0.1em 0.4em;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
    -moz-text-shadow: 1px 1px 2px black;
    -webkit-text-shadow: 1px 1px 2px black;
    -o-text-shadow: 1px 1px 2px black;
}

.state-private {
    background-color: Red !important;
}
.state-visible {
    background-color: #74AE0B !important;
}
.state-published {
    background-color: #436976 !important;
}
.state-pending {
    background-color: #FFA500 !important;
}
.state-expired {
    background-color: Red !important;
}


/* 
 * below part was added by davisagli
 */
#toolbar .activated li a.contenttype-image,
#toolbar .activated li a.contenttype-file,
#toolbar .activated li a.contenttype-document,
#toolbar .activated li a.contenttype-event,
#toolbar .activated li a.contenttype-folder,
#toolbar .activated li a.contenttype-link,
#toolbar .activated li a.contenttype-news-item,
#toolbar .activated li a.contenttype-plone-site,
#toolbar .activated li a.contenttype-collection,
#toolbar .activated li a.contenttype-topic {
    padding-left: 20px;
    margin-left: 9px;
    background-repeat: no-repeat;
}
#toolbar .activated li a.contenttype-image {
    background-position: 0px -858px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-file {
    background-position: 0px -426px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-document {
    background-position: 0px 5px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-event {
    background-position: 0px -211px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-folder {
    background-position: 0px -643px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-link {
    background-position: 0px -1075px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-news-item {
    background-position: 0px -1291px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-plone-site {
    background-position: 0px -1503px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-collection {
    background-position: 0px -1721px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}
#toolbar .activated li a.contenttype-topic {
    background-position: 0px -1721px;
    background-image: url(++resource++plone.app.toolbar/contenttypes-sprite.png);
}

.hiddenStructure {
    display: none;
}