/* toolbar styles loaded in the main page */

div#edit-bar,
dl.portalMessage {
  display: none;
}
body.template-member-registration div#edit-bar,
body.template-usergroup-userprefs div#edit-bar,
body.template-usergroup-groupprefs  div#edit-bar,
body.template-usergroup-controlpanel div#edit-bar {
  display: block;
}
body.userrole-authenticated {
  border-top: 40px solid #333333
}
